<tabset>
    <tab heading="Syllabus">
        <div ng-include="'directive-templates/tools-prof/template-syllabus.html'" style="padding:10px 20px"></div>
    </tab>
    <tab heading="Assignments">
        <div ng-include="'directive-templates/tools-prof/template-assignments.html'" style="padding:10px 20px"></div>
    </tab>
    <tab heading="Grades">
        <div ng-include="'directive-templates/tools-prof/template-grades.html'" style="padding:10px 20px"></div>
    </tab>
    <tab heading="Attendance">
        <div ng-include="'directive-templates/tools-prof/template-attendance.html'" style="padding:10px 20px"></div>
    </tab>
</tabset>
