.tab-content {
	padding-top:20px;
}

.view-document {
	height:100%;
}
.view-document > .modal-dialog{
	width:600px;
	height:750px;
	overflow:hidden;
}
.view-document .modal-content {
	width:100%;
	height:100%;
}

.discussion-pic {
	width:80px;
	height:80px;
	border-radius:5px;
}