input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0;
}

#logout-button {
	top:20px;
}

.admin-data-display {
	margin:30px auto;
	padding:0px 10px;
	display:inline-block;
}
.admin-data-display tr > th {
	height:60px;
}

.new-item-button {
	box-sizing:border-box;
	width:30px;
	height:30px;
	padding:0;
}
.new-item-button > span {
	text-align:center;
	margin:auto auto;
}

.column-user-name {
	width:80px;
	max-width:80px;
}
.column-user-id {
	width:80px;
	max-width:80px;
}
.column-user-primary-role {
	width:80px;
	max-width:80px;
}
.column-user-occupation {
	width:120px;
	max-width:120px;
}

.column-course-name {
	width:110px;
	max-width:110px;
}
.column-course-department {
	width:90px;
	max-width:90px;
}
.column-course-id {
	width:90px;
	max-width:90px;
}

.column-class-id {
	width:80px;
	max-width:80px;
}
.column-class-num-students {
	width:70px;
	max-width:70px;
}

th {
	text-align:center;
}
td {
	white-space:nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
}