.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.search-field {
    width:100%;
}

html {
	width:100%;
	height:100%;
}
body {
	width:100%;

	background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#main-section {
	background-color:white;
	margin:0px auto;
	margin-top:30px;
	padding-bottom:60px;
	padding-top:10px;
	padding-left:40px;
	padding-right:40px;
	max-width:980px;
	height:100%;
	border-radius: 10px;
	min-height: 800px;
}
#profile-thumbnail {
	border-radius:5px;
	text-align:left;
	overflow:hidden;
	font-weight:bold;
	color:white;
	text-decoration:none;
	position:absolute;
	right:10px;
	top:20px;
	width:80px;
	height:80px;
	background-size:cover;
	overflow:hidden;
}
#profile-thumbnail > #profile-thumbnail-caption {
	position:absolute;
	bottom:0px;
	width:80px;
	height:35px;
	opacity:0.6;
	color:white;
	background-color:darkgrey;
	text-align:left;
	padding-left:10px;
	padding-top:3px;
	font-size:8pt;
	font-weight:normal;
}
#logout-button {
	background-color:darkgrey;
	border-radius:5px;
	text-align:left;
	overflow:hidden;
	padding-top:5px;
	padding-left:15px;
	font-weight:bold;
	color:white;
	text-decoration:none;
	position:absolute;
	right:10px;
	top:110px;
	width:80px;
	height:30px;
	opacity:0.6;

	-webkit-transition:width 0.15s linear, opacity 0.15s linear;
}
#logout-button:hover {
	width:90px;
	opacity:1.0;
}
#settings-button {
	background-color:darkgrey;
	border-radius:5px;
	text-align:left;
	overflow:hidden;
	padding-top:5px;
	padding-left:15px;
	font-weight:bold;
	color:white;
	text-decoration:none;
	position:absolute;
	right:10px;
	top:150px;
	width:80px;
	height:27px;
	opacity:0.6;

	-webkit-transition:width 0.15s linear, opacity 0.15s linear;
}
#settings-button:hover {
	width:100px;
	opacity:1.0;
}
.dropdown-menu {
	padding-left:10px;
	padding-right:10px;
}

[student-course-view] .tab-content {
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	min-height:500px;
	background-color:white;
}
[prof-course-view] .tab-content {
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	min-height:500px;
	background-color:white;
}