<div>
  <accordion close-others="true" ng-repeat="assign in getAssigns(curr) | orderBy:'due':reverse">
    <accordion-group is-open="isopen">
        <accordion-heading>
            {{assign.title}} - Due: {{assign.due | date:'fullDate'}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
        </accordion-heading>
        <a href="#" ng-show="assign.promptFile != 'null'" ng-click="viewAssignment(assign)">Open Doc<br/><br/></a>
        {{assign.promptText}}
        <div ng-if="assign.submission">
        	<br>
        	Submission: 
        	<input type="file" id="file" file-model="uploadedFile[assign.id]" style="padding:10px"> 
            <button type="button" class="btn btn-success btn-xs" ng-click="submitAssignment(assign.id)">Submit</button>
            <button ng-if="assign.programID != undefined && assign.programID != null" type="button" class="btn btn-info btn-xs" ng-click="viewCodeResult(true, assign.programID, assign.id)">Run Code</button>
        </div>
    </accordion-group>
  </accordion>
</div>
