<div ng-if="(showSyllabus(curr)).file != null" style="height:600px;">
	<object angular-object ng-data="(showSyllabus(curr)).file" type="application/pdf" width="100%" height="100%">
			<p>It appears you don't have a PDF plugin for this browser. You can view the document <a ng-href="{{ doc.filePath }}">here</a>.</p>
	</object>
</div>

<div style="white-space:pre">
{{ (showSyllabus(curr)).text }}
</div>