<div class="row">
    <div class="col-sm-offset-2 col-sm-8">
        <b class="pull-right">Totals: <span class="badge alert-danger">{{getNumAbsences(curr)}}/{{getNumAttendances(curr)}}</span>
                    <span class="badge alert-warning">{{getNumLates(curr)}}/{{getNumAttendances(curr)}}</span>
                    <span class="badge alert-success">{{getNumPresents(curr)}}/{{getNumAttendances(curr)}}</span>
                </b>
        <br><br>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Status</th>
                </tr>
            </thread>
            <tbody>
                <tr ng-repeat="day in getAttendance(curr) | orderBy:'date' ">
                    <td>{{day.date | date:'M/d/yyyy (EEE)'}}</td>
                    <td ng-class="{
                            'success' : day.status === 'P', 
                            'warning' : day.status === 'UL', 
                            'warning' : day.status === 'EL', 
                            'danger' : day.status === 'UA', 
                            'danger' : day.status === 'EA'}">
                         {{day.status | attendstatus}}
                    </td>
                </tr>
            <tbody>
        </table>
    </div>
</div>