<div class = "row">
    <div class="col-sm-offset-2 col-sm-8">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Assignment</th>
                    <th>Grade</th>
                </tr>
            </thread>
            <tbody>
                <tr ng-repeat="currGrade in currGrades(curr) | orderBy:'due'">
                    <td style="width:28%"> {{ currGrade.due | date:'EEE, MMM d'}}</td>
                    <td style="width:57%"> {{ currGrade.title }} </td>
                    <td style="width:14%">{{ currGrade.grade }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>