<!DOCTYPE html>
<html lang='en' charset="UTF-8" ng-app="appDashboard" ng-controller="controllerGlobal">
	<!-- Head -->
	<head>
		<!-- Metadata -->
		<meta charset="UTF-8"></meta>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type"></meta>
		<meta content="utf-8" http-equiv="encoding"></meta>

		<!-- Angular and modules -->
        <script src="/js/lib/angular.js"></script>
        <script src="/js/lib/angular-animate.js"></script>
        <script src="/js/lib/ui-bootstrap-tpls-0.10.0.min.js"></script>
        <script src="/js/app-global.js"></script>
        <script src="/js/directives/directive-page-header.js"></script>
        <script src="/js/directives/directive-footer.js"></script>
        <script src="/js/directives/directive-angular-object.js"></script>

        <!-- Other JS -->
        <script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
        <script src="http://pc035860.github.io/angular-highlightjs/angular-highlightjs.min.js"></script>

		<!-- Styles -->
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/default.min.css">
        <link rel="stylesheet" href="/css/style-global.css"/>
        <link rel="stylesheet" href="/css/style-dashboard.css"/>
	</head>
 
	<!-- Body -->
	<body ng-controller="controllerDashboard">
        <!-- Logout button -->
        <div id="profile-thumbnail" href="#" style="background-image:url('/img/profile_placeholder.jpg')">
            <div id="profile-thumbnail-caption">{{userName.split(" ")[0]}}<br/>{{userName.split(" ")[1]}}</div>
        </div>
        <a id="logout-button" href="/users/logout">Logout  <span class="glyphicon glyphicon-arrow-right"></span></a>
        <br><a id="settings-button" href="#" ng-click="open(getCurrentClassId())">Settings  <span class="glyphicon glyphicon-cog"></span></a>

        <!-- Main section -->
		<div id="main-section" style="background-image:url('/img/LargeLogoFaded2.png'); background-repeat:no-repeat; background-size: 450px; background-position:-110px 230px, center;">
            <div page-header></div>
            <div id="course-tabs" style="max-width:300px; float:left; margin-right:20px">
                <tabset vertical="true" type="'pills'">
                    <tab ng-repeat="class in allClasses" select="setCurrentClass(class.courseNum, class.role)" disabled="enabled[class.classId] == false">
                        <tab-heading>
                            {{class.courseName}}
                        </tab-heading>
                    </tab> 
                </tabset>
            </div>
            <div ng-repeat="class in allClasses" class="animate-switch-container" style="overflow:hidden">
                <div prof-course-view user="{{userName}}" curr="getCurrentClassId()" all="{{ allClasses }}" ng-if="(class.courseNum == getCurrentClass()) && (class.role == 2)" class="animate-switch"></div>
                <div student-course-view user="{{userName}}" curr="getCurrentClassId()" all="{{ allClasses }}" ng-if="(class.courseNum == getCurrentClass()) && (class.role == 1)" class="animate-switch"></div>
            </div>
		</div>

        <!-- Settings Modal -->
        <!-- Just looks weird with code highlighting, works fine -->
        <script type="text/ng-template" id="settingsTab.html">
            <div ng-show="role == 1">
                <div class="modal-header">
                    <h2>Notifications</h2>
                    <i style="color:#B2B2B2">Whenever any information in the selected tabs is updated, you will be sent an email notifying you as such, for the selected class.</i>
                </div>
                <div class="modal-body">
                    <div ng-repeat="type in types">
                      <input type="checkbox" ng-model="newPrefs[type]" ng-init="newPrefs[type]">  {{type}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" ng-click="save()">Save</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </div>
            </div>

            <div ng-show="role == 2">
                <div class="modal-header">
                    <h1>Settings</h1>
                </div>
                <div class="modal-body">
                    <h3>Enable/Disable</h3>
                     <i style="color:#B2B2B2">Select which classes you want your students to have access to, and in those classes, which features they have access to.</i><br><br>
                     
                     <div ng-repeat="class in allClasses">
                        <input type="checkbox" ng-model="enabled[class.courseName]"> {{class.courseName}}
                        <div ng-repeat="tab in tabs" ng-show="enabled[class.courseName] == true">
                            <li><input style="text-indent: 20px" type="checkbox">{{tab}}</li>
                        </div>
                     </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" ng-click="save()">Save</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </div>

            </div>
        </script>




		<!-- Footer -->
        <footer footer></footer>

        <!-- Angular app -->
        <script src="/js/app-dashboard.js"></script>

        <script src="/js/directives/directive-prof-course-view.js"></script>
        <script src="/js/directives/tools-prof/directive-prof-assignments-tool.js"></script>
        <script src="/js/directives/tools-prof/directive-prof-attendance-tool.js"></script>
        <script src="/js/directives/tools-prof/directive-prof-grades-tool.js"></script>
        <script src="/js/directives/tools-prof/directive-prof-syllabus-tool.js"></script>
        <script src="/js/directives/directive-attendance-grid.js"></script>
        <script src="/js/directives/tools-prof/directive-prof-discussion-tool.js"></script>

        <script src="/js/directives/directive-student-course-view.js"></script>
        <script src="/js/directives/tools-student/directive-student-assignments-tool.js"></script>
        <script src="/js/directives/tools-student/directive-student-attendance-tool.js"></script>
        <script src="/js/directives/tools-student/directive-student-grades-tool.js"></script>
        <script src="/js/directives/tools-student/directive-student-syllabus-tool.js"></script>
        <script src="/js/directives/tools-student/directive-student-discussion-tool.js"></script>

        <script src="/js/lib/ng-context-menu.min.js"></script>
	</body>
</html>
