<!DOCTYPE html>
<html lang='en' charset="UTF-8" ng-app="appAdmin" ng-controller="controllerGlobal">
	<!-- Head -->
	<head>
		<!-- Metadata -->
		<meta charset="UTF-8"></meta>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type"></meta>
		<meta content="utf-8" http-equiv="encoding"></meta>

		<!-- Angular and modules -->
        <script src="/js/lib/angular.js"></script>
        <script src="/js/lib/angular-animate.js"></script>
        <script src="/js/lib/ui-bootstrap-tpls-0.10.0.min.js"></script>
        <script src="/js/app-global.js"></script>
        <script src="/js/directives/directive-page-header.js"></script>
        <script src="/js/directives/directive-footer.js"></script>

		<!-- Styles -->
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" href="/css/style-global.css"/>
        <link rel="stylesheet" href="/css/style-admin.css"/>
	</head>

	<!-- Body -->
	<body>
        <!-- Logout button -->
        <a id="logout-button" href="/users/logout">Logout  <span class="glyphicon glyphicon-arrow-right"></span></a>

        <!-- Main section -->
		<div id="main-section" ng-controller="controllerAdmin">
            <div page-header></div>
            <div id="users" class="admin-data-display">
                <h3>Users</h3>
                <form name="userFilter">
                    <table class="table table-striped table-hover">
                        <tr>
                            <th class="column-user-name">Name</th>
                            <th class="column-user-id">ID</th>
                            <th class="column-user-primary-role">Primary Role</th>
                            <th class="column-user-occupation">Department</th>
                        </tr>
                        <tr style="height:80px">
                            <td class="column-user-name"><input type="text" name="userName" ng-model="currentSelection.userName" class="search-field"></input></td>
                            <td class="column-user-id"><input type="text" name="userId" ng-model="currentSelection.userId" class="search-field"></input></td>
                            <td class="column-user-primary-role"><input type="text" name="userPrimaryRole" ng-model="currentSelection.userPrimaryRole" class="search-field"></input></td>
                            <td class="column-user-occupation"><input type="text" name="userOccupation" ng-model="currentSelection.userOccupation" class="search-field"></input></td>
                        </tr>
                        <tr>
                            <td class="column-user-name"><button type="button" class="new-item-button btn btn-default" ng-click="createUser()"><span class="glyphicon glyphicon-plus"></span></button></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr ng-repeat="user in users | filterUsersByFields:this | orderBy:name | filterBringNewUserToFront" ng-click="editUser(user)">
                            <td class="column-user-name"><a href="#" tooltip-placement='left' tooltip="{{ user.name }}">{{ user.name }}</a></td>
                            <td class="column-user-id"><a href="#" tooltip-placement='left' tooltip="{{ user.id }}">{{ user.id }}</a></td>
                            <td class="column-user-primary-role"><a href="#" tooltip-placement='left' tooltip="{{ primaryRoleOf(user) }}">{{ primaryRoleOf(user) }}</a></td>
                            <td class="column-user-occupation"><a href="#" tooltip-placement='left' tooltip="{{ user.occupation }}">{{ user.occupation }}</a></td>
                        </tr>
                    </table>
                </form>
                <table class="table table-striped">
                </table>
            </div>
            <div id="courses" class="admin-data-display">
                <h3>Courses</h3>
                <table class="table table-striped table-hover">
                    <tr>
                        <th class="column-course-name">Name</th>
                        <th class="column-course-department">Department</th>
                        <th class="column-course-id">Course Num</th>
                    </tr>
                    <tr style="height:80px">
                        <td class="column-course-name"><input type="text" name="courseName" ng-model="currentSelection.courseName" class="search-field"></input></td>
                        <td class="column-course-department"><input type="text" name="courseDepartment" ng-model="currentSelection.courseDepartment" class="search-field"></input></td>
                        <td class="column-course-id"><input type="text" name="courseId" ng-model="currentSelection.courseId" class="search-field"></input></td>
                    </tr>
                    <tr>
                        <td class="column-course-name"><button type="button" class="new-item-button btn btn-default" ng-click="createCourse()"><span class="glyphicon glyphicon-plus"></span></button></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr ng-repeat="course in courses | filterCoursesByFields:this | orderBy:name | filterBringNewCourseToFront" ng-click="editCourse(course)">
                        <td class="column-course-name"><a href="#" tooltip-placement='left' tooltip="{{ course.name }}">{{ course.name }}</a></td>
                        <td class="column-course-department"><a href="#" tooltip-placement='left' tooltip="{{ course.department }}">{{ course.department }}</a></td>
                        <td class="column-course-id"><a href="#" tooltip-placement='left' tooltip="{{ course.id }}">{{ course.id }}</a></td>
                    </tr>
                </table>
            </div>
            <div id="classes" class="admin-data-display">
                <h3>Classes</h3>
                <table class="table table-striped table-hover">
                    <tr>
                        <th class="column-class-id">Class ID</th>
                        <th class="column-class-num-students">Student Count</th>
                    </tr>
                    <tr style="height:80px">
                        <td class="column-class-id"><input type="text" name="classId" ng-model="currentSelection.classId" class="search-field"></input></td>
                        <td class="column-class-num-students"><input type="text" class="search-field"></input></td>
                    </tr>
                    <tr>
                        <td class="column-class-id"><button type="button" class="new-item-button btn btn-default" ng-click="createClass()"><span class="glyphicon glyphicon-plus"></span></button></td>
                        <td></td>
                    </tr>
                    <tr ng-repeat="clazz in classes | filterClassesByFields:this | orderBy:id | filterBringNewClassToFront" ng-click="editClass(clazz)">
                        <td class="column-class-id"><a href="#" tooltip-placement='left' tooltip="{{ clazz.id }}">{{ clazz.id }}</a></td>
                        <td class="column-class-num-students"><a href="#" tooltip-placement='left' tooltip="{{ clazz.associations.userIds.length }}">{{ clazz.associations.userIds.length }}</a></td>
                    </tr>
                </table>
            </div>
		</div>

		<!-- Footer -->
        <footer footer></footer>

        <!-- Angular app -->
        <script src="/js/app-admin.js"></script>
	</body>
</html>
