<div class="jumbotron" style="width:500px; margin:0 auto; padding-top:10px; padding-bottom:50px;">
	<form class="form-horizontal" role="form" action="/users/login" method="post">
        <div class="form-group">
            <label for="username" class="col-sm-3 control-label" style="padding-right:0px">Name</label>
            <div class="col-sm-6">
        	   <input id="username" name="username" type="text" placeholder="John_Doe" class="form-control"></input>
            </div>
    	</div>
        <div class="form-group">
            <label for="username" class="col-sm-3 control-label" style="padding-right:0px">Password</label>
            <div class="col-sm-6">
        	   <input id="password" name="password" type="password" placeholder="******" class="form-control col-sm-10"></input>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-6 col-sm-3">
                <button type="submit" class="btn btn-success pull-right">Log In</button>
            </div>
        </div>
    </form>
</div>
