<div>
	<style type="text/css">
		.attendance-thumbnail-overlay.bg-success:before {
			background: rgba(150,240,160, 0.6);
		}
		.attendance-thumbnail-overlay.bg-success:hover:before {
			background: rgba(150,240,160, 0.4);
		}
		.attendance-thumbnail-overlay.bg-warning:before {
			background: rgba(252,248,150, 0.6);
		}
		.attendance-thumbnail-overlay.bg-warning:hover:before {
			background: rgba(252,248,150, 0.4);
		}
		.attendance-thumbnail-overlay.bg-danger:before {
			background: rgba(242,180,180, 0.6);
		}
		.attendance-thumbnail-overlay.bg-danger:hover:before {
			background: rgba(242,180,180, 0.4);
		}

		.attendance-grid {
			/*
			display: -webkit-flex;
			-webkit-flex-direction: row;
			display: flex;
			flex-direction: row;
*/
			display:inline-block;
			min-width:100px;
			min-height:100px;
		}

		.attendance-thumbnail {
			transition:opacity linear 0.2s;
			-webkit-transition:opacity linear 0.2s;
			width:100px;
			height:100px;
		}

		.attendance-thumbnail-overlay {
			transition:opacity linear 0.2s;
			-webkit-transition:opacity linear 0.2s;
			width:100px;
			height:100px;

			display:inline-block;
			position: relative;
		    cursor: pointer;
		}
		.attendance-thumbnail-overlay:before {  
			content: "";
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			-moz-transition: background .2s linear;
			-webkit-transition: background .2s linear;
			-o-transition: background .2s linear;
			transition: background .2s linear;
		}

		.caption {
			position:relative;
			display:block;
			width:100px;
			height:20px;
			top:-20px;
			padding-left:5px;
			background-color:darkgrey;
			opacity:0.7;
		}
	</style>

	<div class="attendance-grid" ng-repeat="day in getAttendance(curr)">
		<div ng-repeat="student in day" ng-show="(dt | date:'fullDate') == (student.date | date:'fullDate')" tooltip-placement="top" tooltip="{{student.name}}">
			<figure class="attendance-thumbnail-overlay bg-success" ng-class="getThumbnailStatusClasses(student.status)" ng-click="attendanceClicked(student)"/>
				<img class="attendance-thumbnail" src="/img/profile_placeholder.jpg"/>
			</figure>
			<div class="caption">{{getReadableStatus(student.status)}}</div>
		</div>
	</div>
</div>