
<tabset>
    <tab heading="Syllabus">
        <div student-syllabus-tool all="{{allClasses}}" curr="{{currClass}}" style="padding:10px 20px"></div>
    </tab>
    <tab ng-click="clearNotifications(currClass, 3)">
        <tab-heading>
        Assignments <span class="badge alert-success" ng-hide="assignNot.length == 0">{{assignNot.length}}</span></a>
        </tab-heading>
        <div student-assignments-tool user="{{userName}}" all="{{allClasses}}" curr="{{currClass}}" style="padding:10px 20px"></div>
    </tab>
    <tab ng-click="clearNotifications(currClass, 1)">
        <tab-heading>
        Grades <span class="badge alert-success" ng-hide="gradeNot.length == 0">{{gradeNot.length}}</span></a>
        </tab-heading>
        <div student-grades-tool all="{{allClasses}}" curr="{{currClass}}" style="padding:10px 20px"></div>
    </tab>
    <tab ng-click="clearNotifications(currClass, 2)">
        <tab-heading>
        Attendance <span class="badge alert-success" ng-hide="attendNot.length == 0">{{attendNot.length}}</span></a>
        </tab-heading>
        <div student-attendance-tool all="{{allClasses}}" curr="{{currClass}}" style="padding:10px 20px"></div>
    </tab>
    <tab ng-click="clearNotifications(currClass, 4)">
        <tab-heading>
        Discussion <span class="badge alert-success" ng-hide="discussNot.length == 0">{{discussNot.length}}</span></a>
        </tab-heading>
        <div student-discussion-tool user="{{userName}}" all="{{allClasses}}" curr="{{currClass}}" style="padding:10px 20px"></div>
    </tab>
</tabset>
