<tabset>
    <tab heading="Syllabus">
        <div prof-syllabus-tool all="{{allClasses}}" curr="{{currClass}}" style="padding:10px 20px"></div>
    </tab>
    <tab heading="Assignments">
        <div prof-assignments-tool all="{{allClasses}}" curr="{{currClass}}" style="padding:10px 20px"></div>
    </tab>
    <tab heading="Grades">
        <div prof-grades-tool all="{{allClasses}}" curr="{{currClass}}" allusers="{{allUsers}}"style="padding:10px 20px"></div>
    </tab>
    <tab heading="Attendance">
        <div prof-attendance-tool all="{{allClasses}}" curr="{{currClass}}" style="padding:10px 20px"></div>
    </tab>
    <tab heading="Discussion">
        <div prof-discussion-tool user="{{userName}}" all="{{allClasses}}" curr="{{currClass}}" style="padding:10px 20px"></div>
    </tab>
</tabset>
