
<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">{{BRAND_NAME}}</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-left">
			</ul>
			<ul class="nav navbar-nav navbar-right" style="padding-right:15px;">
				<li class="divider"></li>
				<a href="/users/logout">
					<button type="button" class="btn btn-default navbar-btn">Logout <i class="icon-circle-arrow-right"></i></button>
				</a>
			</ul>
		</div>
	</div>
</nav>
