<div class="jumbotron" style="width:300px; margin:0 auto; padding-top:10px; padding-bottom:50px;">
	<form role="form" action="/users" method="post">
        <h2>Sign Up</h2>
        <div class="form-group">
            <input id="name" name="name" type="text" placeholder="full name" class="form-control"></input>
        </div>
        <div class="form-group">
            <input id="email" name="email" type="text" placeholder="email" class="form-control"></input>
        </div>
        <div class="form-group">
        	<input id="username" name="username" type="text" placeholder="username" class="form-control"></input>
    	</div>
        <div class="form-group">
        	<input id="password" name="password" type="password" placeholder="password" class="form-control"></input>
        </div>
        <button type="submit" class="btn btn-primary pull-right" small button green"">Submit</button>
    </form>
</div>
