<div>
	<div ng-hide="editSyl == false">
		<input type="file" id="file" file-model="uploadedFile">
		<br />
	</div>


	<!-- <iframe ng-src="{{(showSyllabus(curr)).file}}" width="100%" height="100%" ng-if="(showSyllabus(curr)).file != null"></iframe> -->
	<div ng-if="(showSyllabus(curr)).file != null" style="height:600px;" ng-hide="editSyl == true">
		<object angular-object ng-data="(showSyllabus(curr)).file" type="application/pdf" width="100%" height="100%">
				<p>It appears you don't have a PDF plugin for this browser. You can view the document <a ng-href="{{ doc.filePath }}">here</a>.</p>
		</object>
	</div>

	<div ng-show="editSyl == false" style="white-space:pre">
{{ (showSyllabus(curr)).text }}
<button class="btn btn-sm btn-success" ng-click="editSyl = true" style="margin-top:10px">Edit</button>
	</div>

	<div ng-hide="editSyl == false">
		<textarea rows="20" cols="100" ng-model="currSyllabus.text"></textarea><br> 
		<button class="btn btn-sm btn-success" ng-click="submitSyllabus(currSyllabus.text)">Submit</button>
	</div>
	
</div>
