<div style="min-height:400px;">
    <div class="row" style="width:200px;float:right;">
        <p class="input-group">
          <input type="text" class="form-control" show-weeks="false" show-button-bar="false" datepicker-popup="MMMM dd, yyyy" datepicker-append-to-body="true" ng-model="dt" is-open="opened" ng-required="true" close-text="Close" />
          <span class="input-group-btn">
            <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
    </div>
    <div attendance-grid/>
</div>
