<style>
.time {
	font-size:xx-small;
	color:#D8D8D8;
	text-indent: 20px;
	padding:5px;
	float:left;
}

.title {
	font-size:medium;
}

.comment-click {
	text-align:right;

	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;

	cursor:default;
}

.reply-button {
	float:right;
}


#inner {
	margin-left:50px; 
    margin-right:-50px;
    width:500px;
}
</style>

<div class="header" ng-show="newPost==false">
	<button type="button" class="btn btn-default" ng-click="newPost = true" style="margin-bottom:20px">
	  <span class="glyphicon glyphicon-plus-sign"></span> New Post
	</button>
	<br>
	
	<div ng-repeat="post in posts">
		<div ng-if="post.priority == 'low' || post.priority == undefined" class="panel panel-success" style="width:500px">
		  <div class="panel-heading">
		    <b>{{post.title}}</b> by {{post.author}}
		    <div class="reply-button"> <button type="button" class="btn btn-success btn-xs" ng-click="reply(post.id)">
			  <span class="glyphicon glyphicon-comment"></span> Reply
			</button> <span class="glyphicon glyphicon-remove-circle" ng-click="removePost(post.id)"></span></div>
		  </div>
		  <div class="panel-body">
		    {{post.text}}
			<br>
			<div class="time" style="text-align:left; text-indent:0px; padding-left:0px;">{{post.timestamp | date:'mediumDate'}}</div>
			<div class="comment-click" ng-show="commentClicked[post.id] == false || commentClicked[post.id] == null" ng-click="clicked(post.id)">Comments<span class="glyphicon glyphicon-chevron-right"></span></div>
			<div class="comment-click" ng-show="commentClicked[post.id] == true" ng-click="clicked(post.id)">Comments<span class="glyphicon glyphicon-chevron-down"></span></div>
		  </div>
		</div>


		<div ng-if="post.priority == 'medium'" class="panel panel-warning" style="width:500px">
		  <div class="panel-heading">
		    <b>{{post.title}}</b> by {{post.author}}
		    <div class="reply-button"> <button type="button" class="btn btn-success btn-xs" ng-click="reply(post.id)">
			  <span class="glyphicon glyphicon-comment"></span> Reply
			</button> <span class="glyphicon glyphicon-remove-circle" ng-click="removePost(post.id)"></span></div>
		  </div>
		  <div class="panel-body">
		    {{post.text}}			<br>
			<div class="time" style="text-align:left; text-indent:0px; padding-left:0px;">{{post.timestamp | date:'mediumDate'}}</div>
			<div class="comment-click" ng-show="commentClicked[post.id] == false || commentClicked[post.id] == null" ng-click="clicked(post.id)">Comments<span class="glyphicon glyphicon-chevron-right"></span></div>
			<div class="comment-click" ng-show="commentClicked[post.id] == true" ng-click="clicked(post.id)">Comments<span class="glyphicon glyphicon-chevron-down"></span></div>
		  </div>
		</div>

		<div ng-if="post.priority == 'high'" class="panel panel-danger" style="width:500px">
		  <div class="panel-heading">
		    <b>{{post.title}}</b> by {{post.author}}
		    <div class="reply-button"> <button type="button" class="btn btn-success btn-xs" ng-click="reply(post.id)">
			  <span class="glyphicon glyphicon-comment"></span> Reply
			</button> <span class="glyphicon glyphicon-remove-circle" ng-click="removePost(post.id)"></span></div>
		  </div>
		  <div class="panel-body">
		    {{post.text}}
			<br>
			<div class="time" style="text-align:left; text-indent:0px; padding-left:0px;">{{post.timestamp | date:'mediumDate'}}</div>
			<div class="comment-click" ng-show="commentClicked[post.id] == false || commentClicked[post.id] == null" ng-click="clicked(post.id)">Comments<span class="glyphicon glyphicon-chevron-right"></span></div>
			<div class="comment-click" ng-show="commentClicked[post.id] == true" ng-click="clicked(post.id)">Comments<span class="glyphicon glyphicon-chevron-down"></span></div>
		  </div>
		</div>


		<div class="comments" ng-show="commentClicked[post.id] == true">
			<div ng-repeat="comment in getComments(post.id) | orderBy:'timestamp':reverse" class="panel panel-default" id="inner" ng-show="comment != undefined">
				<div class="panel-body">
					<div class="media">
						<a class="pull-left" href="#">
							<img class="media-object discussion-pic" src="/img/profile_placeholder.jpg" style="margin-right:0px;">
							{{comment.author}}
  						</a>
  						  <span class="glyphicon glyphicon-remove-circle" ng-click="removeComment(comment.id, post.id)" style="float:right"></span>
  						<div class="media-body">
		  					{{comment.text}}
							<br>
							<div class="time" style="text-align:right; width:100%;" tooltip="{{comment.timestamp | date:'medium'}}" tooltip-placement="right">{{ prettifyDateTime(comment.timestamp) }}</div>
						</div>
					</div>

					
				</div>
			</div>
			<div ng-show="replyClick[post.id] == true" class="panel panel-default" id="inner">
				<textarea rows="5" cols="60" ng-model="$parent.replyText"></textarea> 
				<button type="button" class="btn btn-success btn-xs" ng-click="submitComment(post.id)">Submit</button>
			</div>
		</div>


	</div>
</div>

<div class="mainbody">
	
	<div ng-show="newPost==true">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h2 class="panel-title">New Post</h2>
		  </div>
		  <div class="panel-body">
		    <div class="input-group">
		      <input type="text" ng-model="postTitle" class="form-control" placeholder="Title">
		    <br>
		    Post Content:
		    <br>
		    <textarea rows="5" cols="60" ng-model="postText"></textarea> 

			</div> 
			<br>
			Include File:
		    <input type="file" id="input" ng-model="postFile"><br>
		  	Priority: <select ng-model="selectedType" ng-init="selectedType = types[0]" ng-options="type as type for type in types"></select><br>
		  </div>
		</div>


		<button type="button" class="btn btn-default" ng-show="newPost==true" ng-click="submitPost(curr)">
		  <span class="glyphicon glyphicon-ok"></span> Submit
		</button>
		<button type="button" class="btn btn-default" ng-show="newPost==true" ng-click="newPost = false">
		  <span class="glyphicon glyphicon-circle-arrow-left"></span> Back
		</button>
	</div>
	<div ng-show="newPost==false"> 

	</div>
</div>

