<div>
	<div ng-if="defView == true">
	  <accordion close-others="true" ng-repeat="assign in getAssigns(curr) | orderBy:'due':reverse">
	    <accordion-group is-open="isopen">
	        <accordion-heading>
	            {{assign.title}} - Due: {{assign.due | date:'fullDate'}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
	        </accordion-heading>
	        {{assign.promptText}}
	    </accordion-group>
	  </accordion>
	</div>

	<div ng-show="defView == false">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h2 class="panel-title">New Assignment</h2>
		  </div>
		  <div class="panel-body">
		    <div class="input-group">
		      <input type="text" ng-model="newAssignName" class="form-control" placeholder="Assignment Name">
			  Due Date: <div class="row">
		        <div class="col-md-6">
		            <p class="input-group">
		              <input type="text" class="form-control" datepicker-popup="fullDate" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
		              <span class="input-group-btn">
		                <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
		              </span>
		            </p>
		        </div>
		    </div>
		    <br>
		    Assignment Prompt:
		    <br>
		    <textarea rows="5" cols="60" ng-model="prompt"></textarea> 

			</div> 
			<br>
			Assignment File:
		    <input type="file" id="input" file-model="uploadedFile"><br>
		    Code Assignment? <input type="checkbox" ng-model="code">
		    <div ng-hide="code">
		    Student Submission? <input type="checkbox" ng-model="submission">
			</div>
		    <div ng-show="submission || code">
		    	Tokens? <input type="checkbox" ng-model="tokenBool">
		    	<div ng-show="tokenBool">
		    		Number of Tokens: <input type="number" pattern="\d*" ng-model="numTokens"><br>
		    		Token Type:  <select ng-model="selectedType" ng-options="type as type for type in types"></select><br>
		    	</div>
		    </div>
		    <div ng-show="code">
		    	<br>
		    	<div style="margin-bottom:5px;">Language: <select ng-model="selectedLanguage" ng-options="lang as lang for lang in langs"></select><br></div>
		    	HDD Space: <input type="range" ng-model="HDD" min="512" max="2048" style="width: 100px;display:inline-block;">  <b>{{HDD}}</b> MB <br>
		    	Memory: <input type="range" ng-model="mem" min="256" max="1024" style="width: 100px;display:inline-block;">  <b>{{mem}}</b> MB <br>
		    	Max Run Time: <input type="range" ng-model="seconds" min="1" max="60" style="width: 100px;display:inline-block;">  <b>{{seconds}}</b> seconds <br>
		    	Has Input? <input type="checkbox" ng-model="inputBool"><br>
		    	<div ng-show="inputBool">
		    		Input: <input type="file" id="input" file-model="codeInput"><br>
		    		Correct Output: <input type="file" id="input" file-model="correctOutput"><br>
		    	</div>
		    	Output Accuracy: <input type="radio" ng-model="accuracy" value="low"> Low
		    					 <input type="radio" ng-model="accuracy" value="high"> High
		    </div>
		  </div>
		</div>
		<button class="btn btn-sm btn-success" ng-click="submitAssign(curr)">Submit</button>
		
	</div>

  <br><br>
  
  <button class="btn btn-sm btn-success" ng-click="newAssign()" ng-show="defView == true">New Assignment</button>
	
</div>
