<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div style="margin-bottom:15px;">
            Assignment: 
            <select ng-model="currAssignment" ng-options="assignment.title for assignment in getAssigns(curr)"></select>
        </div>
        <table class="table table-striped table-bordered table-condensed" style="margin:0 auto">
            <thead>
                <tr>
                    <th>Student</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="grade in currGrades(curr, currAssignment.title)">
                    <td style="text-align:center">
                        <a href="#" ng-show="grade.doc == null" tooltip="No Submission">{{ grade.name }}</a>
                        <a href="#" ng-show="grade.doc != null" tooltip="Click to view submission" ng-click="open(grade.doc, currAssignment)">{{ grade.name }}</a>
                    </td>
                    <td>
                        <input id="gradeField" name="grade" type="text" placeholder="Not Yet Graded" class="form-control" ng-value="grade.grade" ng-model="grade.grade" ng-change="postGrades(curr, grade.userID, grade.assignmentID, grade.title, grade.grade)"></input>
                    </td>
                </tr>
            </tbody>
        </table>

            <!--
        <table class="table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Assignment</th>
                    <th>Grade</th>
                </tr>
            </thread>
            <tbody>
                <tr ng-repeat="currGrade in currGrades(curr, currUser) | orderBy:'due'">
                    <td style="width:100px"> {{ currGrade.due | date:'EEE, MMM d'}}</td>
                    <td style="width:100px">
                    	<a ng-if="currGrade.doc == null" href="#" tooltip-popup-delay='500' tooltip="No submission available.">{{ currGrade.title }}</a>
                    	<a ng-if="currGrade.doc != null" href="" ng-click="open(currGrade.doc)" tooltip-popup-delay='500' tooltip="Submission available for viewing.">{{ currGrade.title }}</a>
                    </td>
                    <td style="width:100px" ng-click="clicked(currGrade.title)">
                    	<div ng-show="clickedVar[currGrade.title] == false || clickedVar[currGrade.title] == null">{{ currGrade.grade }}</div>
                    	<div ng-show="clickedVar[currGrade.title] == true"><input ng-model="currGrade.grade" size="4"></input></div>
                    </td>
                    <td ng-show="clickedVar[currGrade.title] == true"><div> <button type="button" class="btn btn-success btn-xs" ng-click="submitBut(curr, currUser, currGrade.assignmentID, currGrade.title, currGrade.grade)">
        				  <span class="glyphicon glyphicon-ok"></span>Submit
        				</button></div></td>
                </tr>
            </tbody>
        </table>
        


        
        <script type="text/ng-template" id="documentWindow.html">
            <div class="modal-header">
                <h3>Student Submission</h3>
            </div>
            <div class="modal-body">
                {{studentDoc.text}}
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" ng-click="cancel()">Dismiss</button>
            </div>
        </script>  -->
    </div>
</div>