<div ng-keypress="keyPressed($event.keyCode)" style="width:100%;height:100%">
	<div class="modal-header">
	    <h3>{{ assignment.title }}</h3>
	</div>
	<div class="modal-body" style="height:580px; overflow-y:auto;">
		<div include="doc.filePath" hljs>
			
		</div>
	</div>
	<div class="modal-footer">
	    <button class="btn btn-primary" ng-click="ok()">OK</button>
	</div>
</div>
