<div ng-keypress="keyPressed($event.keyCode)" style="width:100%;height:100%">
	<div class="modal-header">
	    <h3>{{ assignment.title }}</h3>
	</div>
	<div class="modal-body" style="height:580px;">
		
		<object angular-object ng-data="doc.filePath" type="application/pdf" width="100%" height="100%">
			<p>It appears you don't have a PDF plugin for this browser. You can view the document <a ng-href="{{ doc.filePath }}">here</a>.</p>
		</object>
	</div>
	<div class="modal-footer">
	    <button class="btn btn-primary" ng-click="ok()">OK</button>
	</div>
</div>
