<div ng-keypress="keyPressed($event.keyCode)" style="width:100%;height:100%">
	<base href=>
	<div class="modal-header">
	    <h3>Code Output</h3>
	</div>
	<div class="modal-body" style="height:580px;">
		<div ng-show="loading">
			<progressbar class="progress-striped active" max="100" value="100"><i>Loading...</i></progressbar>
		</div>
		<div ng-hide="loading">
            <iframe ng-src="{{location}}" width="100%" height="500"></iframe>
		</div>
	</div>
	<div class="modal-footer">
	    <button class="btn btn-primary" ng-click="ok()">OK</button>
	</div>
</div>
