<div ng-keypress="keyPressed($event.keyCode)">
	<div class="modal-header">
	    <h3>Edit Course</h3>
	</div>
	<div class="modal-body">
	    <form class="form-horizontal" role="form">
			<div class="form-group">
				<label for="courseName" class="col-sm-4 control-label">Course Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="courseName" name="courseName" ng-value="course.name" ng-model="course.name">
				</div>
			</div>
			<div class="form-group">
				<label for="courseDepartment" class="col-sm-4 control-label">Course Department</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="courseDepartment" name="courseDepartment" ng-value="course.department" ng-model="course.department">
				</div>
			</div>
			<div class="form-group">
				<label for="courseId" class="col-sm-4 control-label">Course ID</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="courseId" name="courseId" ng-value="course.id" ng-model="course.id">
				</div>
			</div>
	    </form>
	</div>
	<div class="modal-footer">
	    <button class="btn btn-primary" ng-click="ok()">OK</button>
	    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
	</div>
</div>
