<div ng-keypress="keyPressed($event.keyCode)">
	<div class="modal-header">
	    <h3>Edit User</h3>
	</div>
	<div class="modal-body">
	    <form class="form-horizontal" role="form">
			<div class="form-group">
				<label for="userName" class="col-sm-4 control-label">User Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="userName" name="userName" ng-value="user.name" ng-model="user.name">
				</div>
			</div>
			<div class="form-group">
				<label for="userName" class="col-sm-4 control-label">User ID</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="userId" name="userId" ng-value="user.id" ng-model="user.id">
				</div>
			</div>
			<div class="form-group">
				<label for="userName" class="col-sm-4 control-label">User Occupation</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="userOccupation" name="userOccupation" ng-value="user.occupation" ng-model="user.occupation">
				</div>
			</div>
	    </form>
	</div>
	<div class="modal-footer">
	    <button class="btn btn-primary" ng-click="ok()">OK</button>
	    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
	</div>
</div>
