<div ng-keypress="keyPressed($event.keyCode)">
	<div class="modal-header">
	    <h3>Edit Class</h3>
	</div>
	<div class="modal-body">
	    <form class="form-horizontal" role="form">
			<div class="form-group">
				<label for="classCourseId" class="col-sm-4 control-label">Course ID</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="classCourseId" name="classCourseId" ng-value="clazz.courseId" ng-model="clazz.courseId">
				</div>
			</div>
			<div class="form-group">
				<label for="classId" class="col-sm-4 control-label">Class ID</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="classId" name="classId" ng-value="clazz.id" ng-model="clazz.id">
				</div>
			</div>
	    </form>
	</div>
	<div class="modal-footer">
	    <button class="btn btn-primary" ng-click="ok()">OK</button>
	    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
	</div>
</div>
